<% @title = "Rreth nesh" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Rreth <%= site_name %> <a href="#introduction">#</a> </h1>
 
 <p>DuaInfo.org eshte nje inciative a Levizjes Mjaft mbeshtetur nga Ambasada Amerikane ne Shqiperi. Ky projekt vjen ne vazhdimesi te perpjekjeve disa vjecare per hartimin dhe zbatimin e ligjit te se drejtes se informimit dhe pjesjmarrje publike ne vendimarrje, duke u perkrahur nga institucionet publike dhe duke u perdorur rregullisht nga qytetaret, organizatat, media dhe pale te tjerat te interesuara.</p>
 
 <p>Ne kuader te iniciatives se Partneritetit per nje Qeveri te Hapur ( Open Government Partnership- OPG), ku qeveria shqiptare aderon qe prej 2011, DuaInfo do te fokusohet ne monitorimin dhe do kerkoj zbatimin rigoroz te ligjit, te amenduar se fundmi, per Drejten e Informimit (per me teper <a href="http://www.idp.al/images/Legjislacion/Ligje/160-2014-DI.pdf">kliko ketu</a>) dhe ligjit per te Njoftimin dhe Konsultimin Publik (per me teper <a href="http://www.hidaa.gov.al/ligje/Ligji_146-2014,_per_njoftimin_dhe_konsultimin_publik.pdf">kliko ketu</a>). </p>
	<p>Qellimi i kesaj iniciative eshte i dy aneshem. Nga njera ane kerkon demokratizimin e metejshem dhe rritjen e lirise se shprehjes ne Shqiperi, duke kerkuar transparence nga instituconet publike. Nga ana tjeter kerkon pjesmarrjne e gjere te publikut per te kuptuar sesi funksionojne instituconet publike, si jane shpenzuar fondet publike te cilat vine si rrjedhoje e taksave te ketij publiku. Eshte e drejta e cdo qyetatari te kerkoj llogari lidhur me proceset qe ndermerren ne cdo institucion publik, dhe sipas ligjit per te Drejten e Informimit cdo autoritet (insticucion) publik ka detyrimin t&rsquo;i pergjigjet kerkesave te ardhur nga qytetaret. Pikerisht kjo eshte dhe pika kyce e kesja iniciative angazhim qytetar dhe pergjegjegjshmeria institucionale.</p>
	<p>Para amendimit ky ligj ishte subjekt interpretimi nga zyrtaret publik, me mangesi qe lejonin justifikimin per refuzim apo vonesa teper te gjata. Per kete arsye ligji per te Drejten e Informimit u amendua ne Shtator te vitit 2015. Ligjet aktuale ne fuqi qe percaktojne te drejten per informim kundrejt institucioneve publike kane pesuar nje permiresim radikal nga ligjet e meparshme te vitit 1999.</p>
	<p>Megjithese legjislatura aktuale eshte permiresuar, kjo nuk do te thote qe zbatimi i ligjeve perkatese jane permiresuar gjithashtu me te njejtin standart. Nepermjet duainfo.org qytetaret dhe vete Levizja Mjaft! do te monitorjne sa te zbatueshme jane ligjett lidhur me te drejten per informim, sipas te gjitha kushteve te parashtruara ne keto ligje, si dhe do ju jap mundesine qytetareve te behen pjese aktive ne venien para pergjegjesive autoritetet publike lidhur me fondet e administruara prej tyre dhe realizimin e planeve te parashikuara ne buxhetin shteteror/vendor dhe me shume.</p>
</div>


