<% @title = raw "\&Ccedil;fare eshte DuaInfo" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1><%=@title %></h1>
<p><strong>DuaInfo.org </strong>eshte nje platforme elektronike dhe sherben si ure lidhese mes autoriteteve qeverisese dhe qytetare duke perdorur posten elektronike si forme korrespondence, sipas ligjit te fuqi per Te Drejten e Informimit.</p>
<p>Nepermjet kesaj platform qytetaret kane mundesi te kerkojne te Drejten e tyre per Informim pa qene e nevojshme te shfletojne ne cdo institucion apo autoritet publik ve&ccedil;mas. DuaInfo permbledh te gjitha institucionet dhe autoritet publike me kontaktet perkatese dhe adresat e tyre elektronike per te Drejten e Informimit. Ketu qytetaret kane mundesi te mesojne me shume rreth te drejtes se tyre per te marre informacion nga autoritetet te cilat jane vendosur per t&rsquo;i sherbyer interesave te ketyre qytetareve. Qytetaret kane te drejte per transparence te plote te fondeve publike dhe perdorimit te tyre dhe aktivitetit te autoriteteve publike ne pergjithesi. Kjo faqe u mundeson pikerisht kontaktin me institucionin apo autoritetin perkates per te cilin qytetari ka interes te di me shume per ceshtje te ndryshme.</p>
<p>Ne kete menyre qytetaret kane mundesi jo vetem te bejne kerkesa duke hapur nje llogari elektronike ne faqen DuaInfo, por gjithashtu dhe te marrin ndihmen e nevojshme per berjen e kerkesave ndaj institucioneve perkatese, si dhe hapat qe duhen ndjekur ne rast refuzimi apo vonese.</p>
<p>Per me teper DuaInfo eshte nje faqe interaktive ku qytetaret mund te bashkeveprojne me njeri tjetrin per te marre informacionin e deshiruar. Meqenese te gjitha kerkesat ruhen ne faqe cdo qytetar ka mundesi te ndjeke shembullin e nje perdoruesi tjeter, ose te aksesoje direkt informacionin e marre ne pergjigje, pa qene e nevojshme per nje kerkese te dyte.</p>
<p>Per me shume referojuni gjithashtu kategorise <a href="http://duainfo.org/help/requesting">Kerkesat - Si behen, si procesohen</a>.</p>
</div>