<% @title = "Pyetje per Kordinatoret e te Drejtes se Informimit" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="coordinators"><%= @title%> <a href="#coordinators">#</a> </h1>
<h2>Mberrita ketu ne perfundim te nje kerkese per te Drejte Informacioni?</h2>
<p>DuaInfo eshte nje sherbim pa pagese mundersuar nga Levizja Mjaft!. Kjo ndihmon anetaret e saj te bejne kerkesa ndaj institucioneve apo autoriteteve publike dhe me lehtesi ndan gjurmon dhe ndan me te tjeret pergjigjet. </p>
<p>Kerkesa per te Drejte Informimi eshte bere nga dikush i cili ka perdorur platformen elektronike DuaInfo. Ju mund t&rsquo;i pergjigjeni kerkeses sic beni me cilindo person qe ju dergon kerkese per informacion. Ndryshimi i vetem eshte se pergjigja do te publikohet automatikisht ne Internet. </p>
<p>Nese keni shqetesime per privacine apo ceshtje te tjera, ju lutem lexoni pergjigjen si me poshte. Ndoshta do ishte me vlere te lexoni dhe Hyrjen tek DuaInfo per te kuptuar me mire sesi funksionon faqa per perdorusit e saj. Ju gjithashtu mund te kerkoni ne faqe institucionin per te cilin punoni dhe te shihni statusin e kerkesave bere ketij instucioni duke perdorur kete faqe interneti. <br>
 Ne mirepresim komentet dhe mendime e dhena nga Kordinadinatoret per te Drejten e Informimit, prandaj mos hezitoni te na kontaktoni. </p>
<h2>Pse i publikoni pergjigjet ndaj kerkesave per te drejten e informimit?</h2>
<p>Ne besojme se dicka e tille ofron shume perfitime. Cka eshte me e rendesishme ky process do te inkurajoj publiku per te qene me te interesuar dhe perfshire ne punen e qeverise. Gjithashtu, publikimi do t&rsquo;I jape mundesi publikun mos duplikmin e kerkesave, nderkohe qe pergjigjen e tyre mund ta gjejne nje kerkesa te meparshme te bere nga anetare te tjere tek DuaInfo.</p>
<h2>Jane te vertet njerezit qe bejne kerkesat ?</h2>
<p>Po. Ne menyre qe te mund te gjurmojne pergjigjet, ne perdorim adresa te gjeneruara kompjuterike per cdo kerkese. Megjithate, perpara se te dergojne nje kerkese, cdokush duhet te regjistrohet ne faqen tone me nje adrese elektronike unike te cilen ne e verifikojme. Ju mund te kerkoni ne kete faqe dhe te gjeni faqen qe liston te gjitha kerkesat e bera nga cdokush.. </p>
<h2>Nje adrese elektronike nuk eshte mjaftueshem per te dhene pergjigje ndaj nje kerkese!</h2>
<p>Jo eshte e mjaftueshme. Ju lutem referojuni ligjit per te Drejten e Informimit neni 11. &nbsp;</p>
<h2>Keni shume kerkesa shqetesuese (te papershtatshme)?</h2>
<p>Pjesa me e madhe e kerkesave jane ne emer te perdoruesve tane, te cilet duhet te jene njerez te vertete, per te bere keto kerkesa. Pergjithesisht kerkesat monitorohen ne menyre qe te fshijme ato te papershtatshme, por jo gjithmone do mundemi te evitojme ardhjen tek ju kerkesa te papershtatshme</p>
<p>Ne te njejten menyre ju do merrnit kerkesa te tilla te papershtatshme nepermjet perdorimit te rrjeteve te tjera si Hotmail, Yahoo etj. DuaInfo sherben si nje platforme per t&rsquo;u siguruar qytetareve informacionin e nevojshem per te bere dhe derguar nje kerkesa tek institucioni apo autoriteti i duhur publik. </p>
<p>Ne s&rsquo;mbajme pergjegjesi nese disa perdorues nuk jane te vertete duke qene se kjo eshte nje platforme e hapur publike si cdo rrjet tjeter. Por ajo cka mund te bejme eshte eliminimi i perdoruesit ashtu dhe kerkesave te bera prej tij/saj ne rast ankese nga ana juaj. </p>
<h2>Shoh nje kerkese tek DuaInfo, por nuk ka marre asnje mesazh elektronik!</h2>
<p>Nese nje kerkese eshte ne faqe do te thote, qe eshte bere nje perpjektje per te derguar me poste elektronike tek institucioni apo autoriteti perkates. Cdo mesazh i cili ka deshtuar te dergohet, shfaqet ne faqen tone. Ju lutem nese mendoni se adresa perkatese eshte gabim, ju lutem na shkruani me detajet e duhura.<br>
 Gjithashtu, ju mund t&rsquo;i pergjigjeni cdo kerkese nga kjo faqe duke perdorur lidhjen &ldquo;pergjigju kerkeses&rdquo; qe ndodhet ne fund te cdo faqeje kerkese. </p>
<h2>Si e llogarisni afatet kohore te shfaqura ne faqet e kerkesave?</h2>
<p>Sipas ligjit ne fuqi. </p>
<h2>Si i dergoni dokumente te medha, te cilat nuk shkojne me poste elektronike?</h2>
<p>Ne vend te postes elektronike, ju mund t&rsquo;i pergjigjeni nje kerkese direkt nga faqa jone e internetit, dhe aty mund te ngarkoni dokumentet. Per ta bere kete, thjesht kliko &quot;pergjigju kerkeses&quot; ne fund te faqes se kerkeses. Na kontaktoni nese edhe per ne eshte document i madht (me shume se 50Mb). </p>
<h2>Pse i publikoni emrat e nenpunesve civil dhe tekstin e mesazheve elektronike?</h2>
<p> Ne marrim parasysh se cfare bejne kordinatoret apo nenpunesit gjate punes se tyre per afruar informacion per publikun. Vetem ne rast te vecanta mund te heqim emrin.</p>
<h2>A publikoni adresa elektronike dhe numra celularesh?</h2>
<p>Per te parandaluar spamet, ne automatikisht fshijme shumicen e adresave elektronike dhe numrat e telefonit nga pergjigjet per kerkesat e bera. Ju lutem na kontaktoni nese kemi lene dicka. Per shkaqe teknike, jo gjithmone i heqim nga shtojcat, te tilla si PDF.</p>
<p>Nese ju duhet te dini se cfare adrese kemi fshire, ju lutem nga kontaktoni. Shpeshhere, nje adrese elektronike krijohet sin je pjese e rendesishme e pergjigjes dhe ne do ta rivendosim ate ne shenim.</p>
</div>
