<% @title = raw "Si t&euml; gjesh nj&euml; institucion" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
	<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>
	<h2>Ku duhet ta b&euml;j k&euml;rkes&euml;n?</h2>
	<p>DuaInfo ka nj&euml; <a href="http://duainfo.org/body/list/all">list&euml; t&euml; institucioneve dhe agjensive publike</a>.</p>
	<p>Shfleto ose k&euml;rko te DuaInfo.org p&euml;r t&euml; gjetur k&euml;rkesa t&euml; ngjashme me at&euml; tuaj&euml;n dhe p&euml;r t&euml; gjetur institucionin q&euml; i p&euml;rshtatet k&euml;saj k&euml;rkese.</p>
	<p>Shfletoni dhe lexoni p&euml;rshkrimin e &ccedil;do institucioni publik p&euml;r t&euml; par&euml; se me &ccedil;far&euml; merren, dhe/ose hidhi nj&euml; sy faqes s&euml; tyr&euml; t&euml; internetit. </p>
	<p>N&euml;se ende nuk jeni i sigurt&euml;, ju lutemi na kontaktoni p&euml;r t&rsquo;ju ndihmuar.</p>
</div>