<% @title = "Si te gjesh nje institucion" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>
<p>Ne ndertim...</p>
</div>
