<% @title = "Si te gjesh nje institucion" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>
<h2>Ku duhet ta bej kerkesen?</h2>
<p>DuaInfo ka nje <a href="http://duainfo.org/body/list/all">liste te institucioneve dhe agjencive publike</a>. </p>
<p>Shfleto ose kerko tek DuaInfo.org per te gjetur kerkesa te ngjashme me ate tuajen dhe per te gjetur institucionin qe i pershtatet kesaj kerkese.</p>
<ul type="disc">
<li>Shfletoni dhe lexoni pershkrimin e &ccedil;do institucioni public per te pare se me &ccedil;fare merren, dhe/ose hidhi nje sy faqes se tyre te internetit. </li>
<li>Nese ende nuk je i sigurte, ju lutem nga kontaktoni ne per t&rsquo;ju ndihmuar. </li>
</ul>
</div>