<% @title = "Si te besh nje kerkese" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<p>Ne ndertim...</p>
</div>
