<% @title = raw "K&euml;rkesat - Si b&euml;hen, si procesohen" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
	<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
	<h2><strong>Nuk jam i sigurt&euml; cilit institucion duhet t&rsquo;i drejtohem me k&euml;rkes&euml;n, si mund ta gjej?</strong></h2>
	<p>Shpeshher&euml; &euml;sht&euml; e v&euml;shtir&euml; t&euml; gjesh at&euml; q&euml; k&euml;rkon n&euml; strukturat e komplikuara t&euml; qeveris&euml;, apo t&euml; gjesh personin i cili ka informacionin q&euml; ju doni. Si m&euml; posht&euml;, jan&euml; disa udh&euml;zime si mund t&rsquo;ia dilni mban&euml;:</p>
	<p>K&euml;rko n&euml; DuaInfo dhe shih p&euml;r k&euml;rkesa t&euml; ngjashme me at&euml; tuaj&euml;n.</p>
	<p>Kur mendoni se e keni gjetur institucionin p&euml;rkat&euml;s, p&euml;rdornin url p&euml;r &ldquo;faqen kryesore&rdquo;, klikoni aty p&euml;r t&euml; par&euml; me &ccedil;far&euml; merret ky insitucion.</p>
	<p>Kontakto n&euml;p&euml;rmjet telefonit ose post&euml;s elektronike institucionin p&euml;rkat&euml;s p&euml;r t&rsquo;i pyetur n&euml;se disponojn&euml; informacionin q&euml; ju k&euml;rkoni.</p>
	<p>Mos u streso shum&euml; p&euml;r t&euml; gjetur institucionin e duhur. N&euml;se e ke gjetur institucionin e gabuar, n&euml;pun&euml;si p&euml;rkat&euml;s duhet t&rsquo;ju sugjeroj se ku duhet t&euml; drejtoheni.</p>
	N&euml;se keni nj&euml; &ccedil;&euml;shtje delikate, ju lutem na kontaktoni p&euml;r ndihm&euml;.
	<h2><strong>Ju mungon institucioni publik ku dua t&euml; d&euml;rgoj k&euml;rkes&euml;n!</strong></h2>
	<p>Ju lutemi, na kontaktoni me emrin e institucionit publik dhe n&euml;se i keni gjetur, gjithashtu, na d&euml;rgoni dhe kontaktet e post&euml;s elektronike dhe telefonit p&euml;r k&euml;rkesat e t&euml; Drejt&euml;s s&euml; Informimit.</p>
	<p>N&euml;se d&euml;shironi t&euml; na ndihmoni duke shtuar nj&euml; kategori t&euml; re institucionesh publike n&euml; faqen ton&euml;, ju lutemi mos hezitoni t&euml; na kontaktoni.</p>
	Pse keni p&euml;rfshir&euml; dhe institucione q&euml; nuk jan&euml; subjekt i s&euml; Drejt&euml;s p&euml;r Informacion (DI)?
	<h2><strong>Pse duhet ta mbaj k&euml;rkes&euml;n time sa m&euml; t&euml; fokusuar?</strong></h2>
	<p>Ju lutemi, n&euml; k&euml;rkes&euml;n tuaj tregohuni kon&ccedil;iz n&euml; m&euml;nyr&euml; q&euml; autoriteti p&euml;rkat&euml;s mund ta identifikoj&euml; me leht&euml;si se &ccedil;far&euml; informacioni po k&euml;rkoni. Ju lutemi, n&euml; k&euml;rkes&euml; mos p&euml;rfshini pikat n&euml; vijim:</p>
	<ul>
		<li>Argumenta lidhur me &ccedil;&euml;shtjen tuaj.</li>
		<li>Deklarata apo q&euml;ndrime q&euml; mund t&euml; ofendojn&euml; apo hedhin balt&euml; mbi dik&euml;.</li>
	</ul>
	<p>Nese ju b&euml;ni dicka t&euml; till&euml;, ne do t&euml; na duhet ta fshijm&euml; k&euml;rkes&euml;n tuaj. Mesazhe t&euml; shkurtra dhe kon&ccedil;ize leht&euml;sojn&euml; kuptueshm&euml;rin&euml; p&euml;r institucionin p&euml;rkat&euml;s, &ccedil;ka do t&euml; thot&euml; q&euml; mund&euml;sit&euml; p&euml;r t&euml; marr&euml; nj&euml; p&euml;rgjigje t&euml; shpejt&euml; jan&euml; m&euml; t&euml; m&euml;dha.<br>
		Sipas ligjit n&euml; fuqi ( neni 11, pika 4 ), pikat q&euml; duhen mbuluar n&euml; k&euml;rkes&euml;n p&euml;r informim jan&euml;:</p>
	<ul>
		<li>emrin dhe mbiemrin e k&euml;rkuesit; </li>
		<li>adres&euml;n postare ose elektronike ku k&euml;rkohet t&euml; d&euml;rgohet informacioni;</li>
		<li>p&euml;rshkrimin e informacionit q&euml; k&euml;rkohet;</li>
		<li>formatin n&euml; t&euml; cilin preferohet informacioni;</li>
		<li>&ccedil;do t&euml; dh&euml;n&euml; q&euml; k&euml;rkuesi gjykon se mund t&euml; ndihmoj&euml; n&euml; identifikimin e informacionit t&euml; k&euml;rkuar.</li>
	</ul>
	N&euml;se k&euml;rkoni informacion p&euml;r t&euml; mb&euml;shtetur nj&euml; argument apo fushat&euml;, e Drejta p&euml;r Infomim &euml;sht&euml; nj&euml; mjet i fuqish&euml;m. Edhe n&euml;se nuk e p&euml;rdorni k&euml;t&euml; faqe p&euml;r t&euml; promovuar fushat&euml;n tuaj, ne ju inkurajojm&euml; q&euml; ta p&euml;rdorni p&euml;r t&euml; marr&euml; informacionin q&euml; k&euml;rkoni.
	<h2><strong>A m&euml; kushton gj&euml; t&euml; b&euml;j nj&euml; k&euml;rkes&euml;?</strong></h2>
	<p>B&euml;rja e nj&euml; k&euml;rkes&euml; p&euml;r t&euml; Drejt&euml;n e Informimit &euml;sht&euml; gjithmon&euml; <em>falas</em>.</p>
	Autoritetet mund t&euml; p&euml;rfshijn&euml; mesazhe t&euml; tilla, si: p&euml;rgjigja &ldquo;mund&rdquo; t&euml; ket&euml; kosto. Mos i merrni parasysh njoftime t&euml; tilla! N&euml; raste shum&euml; t&euml; rralla mund t&euml; ket&euml; kosto. M&euml; shum&euml; detaje mund t&rsquo;i gjeni te Komisioneri p&euml;r t&euml; Drejt&euml;n e Informimit (p&euml;r m&euml; tep&euml;r, <a href="http://www.idp.al/index.php/sq/autoriteti-sq/rreth-nesh">kliko k&euml;tu</a>)
	<h2><strong>Sa shpejt do e marr p&euml;rgjigjen?</strong></h2>
	<p>Sipas ligjit, autoritetet publike duhe t&rsquo;i p&euml;rgjigjen sa m&euml; shpejt k&euml;rkesave, &ccedil;ka n&euml;nkupton nj&euml; afat, i cili nuk duhet t&euml; kaloj&euml; 10 dit&euml; pune.</p>
	DuaInfo do t&rsquo;ju d&euml;rgoj&euml; mesazh n&euml;se nuk merrni p&euml;rgjigje brenda afateve t&euml; p&euml;rcaktuara. Ju mund t&rsquo;I d&euml;rgoni institucionit p&euml;rkat&euml;s nj&euml; mesazh p&euml;r t&rsquo;i rikujtuar dhe p&euml;r t&rsquo;i th&euml;n&euml; atyre t&euml; respektojn&euml; rregullat sipas ligjiit n&euml; fuqi.
	<h2><strong>Po n&euml;se nuk marr kurr&euml; p&euml;rgjigje?</strong></h2>
	<p>Mund t&euml; b&euml;ni disa gj&euml;ra n&euml;se nuk merrni p&euml;rgjigje.</p>
	<p>Ndoshta problemi mund t&euml; jet&euml; teknik dhe institucioni p&euml;rkat&euml;s nuk e ka marr&euml; mesazhin elektronik t&euml; d&euml;rguar prej jush. Do t&euml; ishte me vler&euml; n&euml;se do t&rsquo;i telefononit institucionit dhe me mir&euml;sjellje t&rsquo;i k&euml;rkonit n&euml;se e kan&euml; marr&euml; k&euml;rkes&euml;n tuaj me post&euml; elektronike. N&euml;se nuk e kan&euml; marr&euml;, do t&euml; thot&euml; q&euml; mesazhi mund t&euml; ket&euml; kaluar n&euml; filtrat e mesazheve &ldquo;spam&rdquo;.</p>
	<p>N&euml;se ende nuk keni marr&euml; p&euml;rgjigje, mund t&euml; k&euml;rkoni nj&euml; shqyrtim t&euml; brendsh&euml;m dhe m&euml; pas, mund t&euml; ankoheni te Komisioneri p&euml;r t&euml; Drejt&euml;n e Informimit dhe Mbrojtjen e t&euml; Dh&euml;nave Personale (kliko k&euml;tu) lidhur me k&euml;t&euml; autoritet.</p>
	Gjithashtu, mund t&euml; na kontaktoni dhe ne p&euml;r t&rsquo;ju ndihmuar n&euml; k&euml;t&euml; pro&ccedil;es.
	<h2><strong>Po kur nuk jam i k&euml;naqur me p&euml;rgjigjen e marr&euml;?</strong></h2>
	<p>N&euml;se nuk keni marr&euml; informacionin p&euml;r t&euml; cilin jeni i interesuar, apo nuk e keni marr&euml; at&euml; n&euml; koh&euml;, ju lutem lexoni faqen tjet&euml;r &ldquo;I pak&euml;naqur me p&euml;rgjigjen e marr&euml;?&rdquo;</p>
	<h2><strong>Mund t&euml; m&euml; thoni m&euml; tep&euml;r detaje lidhur me b&euml;rjen e nj&euml; k&euml;rkese?</strong></h2>
	<p>Ju lutemi, hidhini nj&euml; sy faqeve zyrtare n&euml; faqen elektronike t&euml; Komisionerit p&euml;r t&euml; Drejt&euml;n e Informacionit dhe Mbrojtjes s&euml; t&euml; Dh&euml;nave Personale. </p>
	<h2><strong>Mund t&euml; k&euml;rkoj informacion rreth vetes sime?</strong></h2>
	<p>Jo! K&euml;rkesat e b&euml;ra, duke p&euml;rdorur DuaInfo, jan&euml; publike n&euml;n ligjin p&euml;r t&euml; Drejt&euml;n e Informimit dhe nuk t&euml; ndihmon t&euml; gjesh informacion p&euml;r nj&euml; person privat.</p>
	Ju lutemi, nga kontaktoni menj&euml;her&euml; n&euml; m&euml;nyr&euml; q&euml; ta fshijm&euml; k&euml;t&euml; k&euml;rkes&euml;..
	<h2><strong>D&euml;shiroj q&euml; t&rsquo;i mbaj k&euml;rkesat e mia sekret! </strong></h2>
	<p>DuaInfo aktualisht &euml;sht&euml; nd&euml;rtuar vet&euml;m p&euml;r k&euml;rkesa publike. T&euml; gjitha p&euml;rgjigjet q&euml; ne marrim, automatikisht do t&euml; publikohen n&euml; faqen ton&euml; p&euml;r publikun e gjer&euml;. </p>
	Ju duhet t&euml; kontaktoni institucionin publik menj&euml;her&euml; n&euml;se d&euml;shironi t&euml; merrni nj&euml; p&euml;rgjigje private. P&euml;r k&euml;t&euml;, mund ta p&euml;rdorni post&euml;n dorazi. N&euml;se keni nevoj&euml; p&euml;r ndihm&euml;, mos hezitoni t&euml; na kontaktoni.
	<h2><strong>A mund t&euml; d&euml;rgoj t&euml; nj&euml;jt&euml;n k&euml;rkes&euml; te t&euml; gjitha autoritetet?</strong></h2>
	<p>Ne do t&rsquo;ju k&euml;shillonim t&euml; d&euml;rgonit nj&euml; variant t&euml; k&euml;rkes&euml;s suaj te disa autoritete. P&euml;rgjigjet e tyre do t&rsquo;ju ndihmojn&euml; t&euml; p&euml;rmir&euml;soni p&euml;rmbajtjen e k&euml;rkes&euml;s, n&euml; m&euml;nyr&euml; q&euml; t&euml; merrni informacionin m&euml; t&euml; mir&euml; p&euml;r k&euml;rkes&euml;n e d&euml;rguar. P&euml;r momentin, faqja jon&euml; nuk ka sistem automatik p&euml;r d&euml;rgimin e s&euml; nj&euml;jt&euml;s k&euml;rkes&euml; n&euml; shum&euml; autoritete, ndaj p&euml;r k&euml;t&euml; arsye do t&rsquo;ju duhet ta kopjoni dhe ta rid&euml;rgoni p&euml;r &ccedil;do institucion apo autoritet publik q&euml; d&euml;shironi t&rsquo;i drejtoheni. </p>
	<h2><strong>Si i monitoroni sh&euml;nimet e b&euml;ra te k&euml;rkesat?</strong></h2>
	<p>Sh&euml;nimet te DuaInfo sh&euml;rbejn&euml; p&euml;r t&rsquo;i ndihmuar t&euml; tjer&euml;t q&euml; t&euml; marrin informacionin q&euml; d&euml;shirojn&euml;, ose p&euml;r t&rsquo;u dh&euml;n&euml; atyre k&euml;shilla, t&euml; cilat mund t&rsquo;i v&euml;n&euml; n&euml; p&euml;rdorim. Ne kemi t&euml; drejt&euml;n t&euml; heqim &ccedil;do gj&euml; tjet&euml;r.</p>
	Diskutime politike t&euml; pafundme nuk lejohen. Postoni nj&euml; lidhje n&euml; nj&euml; forum t&euml; p&euml;rshtatsh&euml;m ose faqe fushate diku tjet&euml;r.
	<h2><strong>Mund t&euml; d&euml;rgoj k&euml;rkes&euml; p&euml;r &ccedil;do lloj informacioni?</strong></h2>
	<p>Ju kujtojm&euml; se disa nga informacionet n&euml; autoritetet apo institucionet p&euml;rkat&euml;se shfaqen n&euml; faqet e tyre. Para se t&euml; nd&euml;rmerrni nj&euml; k&euml;rkes&euml;, sigurohuni q&euml; k&euml;to informacione nuk jan&euml; t&euml; shfaqura n&euml; faqet p&euml;rkat&euml;se t&euml; internetit apo n&euml; faqen e Komisionerit p&euml;r t&euml; Drejt&euml;n e Informimit dhe Mbrojtjes s&euml; t&euml; Dh&euml;nave Personale. </p>
	<p>P&euml;r m&euml; tep&euml;r, sipas Nenit 7 t&euml; ligjit p&euml;r t&euml; Drejt&euml;n e Informimit, thuhet se:<br>
		N&euml; p&euml;rputhje me programin e transparenc&euml;s s&euml; miratuar p&euml;r &ccedil;do autoritet publik, k&euml;to t&euml; fundit p&euml;rgatitin paraprakisht, n&euml; formate leht&euml;sisht t&euml; kuptueshme dhe t&euml; aksesueshme, si dhe ven&euml; n&euml; dispozicion t&euml; publikut n&euml; faqen e tyre n&euml; internet kategorit&euml; e m&euml;poshtme t&euml; informacionit:</p>
	<ul>
		<li>nj&euml; p&euml;rshkrim t&euml; struktur&euml;s organizative, funksioneve dhe detyrave t&euml; autoritetit publik;</li>
		<li>tekstet e plota:
			<ul>
				<li>t&euml; konventave q&euml; jan&euml; ratifikuar nga Republika e Shqip&euml;ris&euml;;</li>
				<li>t&euml; ligjeve;</li>
				<li>t&euml; akteve n&euml;nligjore;</li>
				<li>t&euml; kodeve t&euml; sjelljes;</li>
				<li>t&euml; &ccedil;do dokumenti politikash;</li>
				<li>t&euml; manualit ose ndonj&euml; dokument tjet&euml;r q&euml; ka lidhje me ushtrimin e funksioneve t&euml; autoritetit publik dhe q&euml; prek publikun e gjer&euml;;</li>
			</ul>
		</li>
		<li>informacion p&euml;r procedurat q&euml; duhen ndjekur p&euml;r t&euml; b&euml;r&euml; nj&euml; k&euml;rkes&euml; p&euml;r informim, adres&euml;n postare dhe elektronike p&euml;r depozitimin e k&euml;rkesave p&euml;r informim, si dhe procedurat e ankimit t&euml; vendimit p&euml;rkat&euml;s;</li>
		<li>t&euml; dh&euml;na p&euml;r vendndodhjen e zyrave t&euml; autoritetit publik, orarin e pun&euml;s, emrin dhe kontaktet e koordinatorit p&euml;r t&euml; drejt&euml;n e informimit;</li>
		<li>t&euml; dh&euml;na p&euml;r arsimin, kualifikimet dhe pagat e funksionar&euml;ve, t&euml; cil&euml;t kan&euml; detyrimin p&euml;r deklarimin e pasuris&euml;, sipas ligjit, strukturat e pagave p&euml;r n&euml;pun&euml;sit e tjer&euml;, si dhe nj&euml; p&euml;rshkrim t&euml; procedurave t&euml; zgjedhjes, kompetencave dhe detyrave t&euml; funksionar&euml;ve t&euml; lart&euml; t&euml; autoritetit publik dhe procedur&euml;n q&euml; ata ndjekin p&euml;r t&euml; marr&euml; vendime;</li>
		<li>mekanizmat monitorues dhe t&euml; kontrollit q&euml; veprojn&euml; mbi autoritetin publik, p&euml;rfshir&euml; planet strategjike t&euml; pun&euml;s, raportet e auditimit nga Kontrolli i Lart&euml; i Shtetit ose subjekte t&euml; tjera, si dhe dokumentet q&euml; p&euml;rmbajn&euml; tregues t&euml; performanc&euml;s s&euml; autoritetit;</li>
		<li>t&euml; dh&euml;na p&euml;r buxhetin dhe planin e shpenzimeve p&euml;r vitin financiar n&euml; vijim dhe vitet e kaluara, si dhe &ccedil;do raport vjetor p&euml;r zbatimin e buxhetit. N&euml; ato raste kur autoriteti publik vet&euml;financohet nga tarifat e licencave ose &ccedil;do form&euml; tjet&euml;r e financimit t&euml; drejtp&euml;rdrejt&euml; nga subjektet e rregulluara prej tij, b&euml;hen publike edhe dokumentet q&euml; tregojn&euml; gjendjen e shlyerjes s&euml; detyrimeve nga subjektet e licencuara;</li>
		<li>informacion p&euml;r procedurat e prokurimit apo procedurat konkurruese t&euml; koncesionit/partneritetit publik privat, p&euml;rkat&euml;sisht, sipas parashikimeve t&euml; ligjit nr. 9643, dat&euml; 20.12.2006, &ldquo;P&euml;r prokurimin publik&rdquo;, dhe t&euml; ligjit nr. 125/2013, &ldquo;P&euml;r koncesionet dhe partneritetin publik privat&rdquo;, q&euml; kryhen p&euml;r llogari t&euml; autoritetit publik, duke p&euml;rfshir&euml;:</li>
		<li>list&euml;n e kontratave t&euml; lidhura;</li>
		<li>shum&euml;n e kontraktuar;</li>
		<li>pal&euml;t kontraktuese dhe p&euml;rshkrimin e sh&euml;rbimeve apo mallrave t&euml; kontraktuara;</li>
		<li>informacionin p&euml;r zbatimin dhe monitorimin e kontratave, si dhe udh&euml;zues e politika t&euml; ndryshme;</li>
		<li>informacion p&euml;r sh&euml;rbimet q&euml; autoriteti publik i jep publikut, p&euml;rfshir&euml; standardet p&euml;r cil&euml;sin&euml; e sh&euml;rbimit;</li>
		<li>&ccedil;do mekaniz&euml;m dhe procedur&euml; p&euml;r b&euml;rjen e k&euml;rkesave dhe ankesave, n&euml; lidhje me veprimet ose mosveprimet e autoritetit publik;</li>
		<li>&ccedil;do mekaniz&euml;m apo procedur&euml;, p&euml;rmes s&euml; cil&euml;s personat e interesuar mund t&euml; paraqesin mendimet e tyre apo t&euml; ndikojn&euml; n&euml; &ccedil;far&euml;do m&euml;nyre tjet&euml;r n&euml; hartimin e ligjeve, t&euml; politikave publike apo ushtrimin e funksioneve t&euml; autoritetit publik;</li>
		<li>nj&euml; p&euml;rshkrim t&euml; thjesht&euml; t&euml; sistemit q&euml; p&euml;rdor autoriteti publik p&euml;r mbajtjen e dokumentacionit, t&euml; llojeve, formave t&euml; dokumenteve, si dhe t&euml; kategorive t&euml; informacionit q&euml; b&euml;het publik pa k&euml;rkes&euml;;</li>
		<li>regjistri i k&euml;rkesave dhe p&euml;rgjigjeve, sipas nenit 8 t&euml; k&euml;tij ligji;</li>
		<li>nj&euml; p&euml;rshkrim t&euml; kategorive dhe formave t&euml; ndihm&euml;s shoq&euml;rore, subvencioneve t&euml; dh&euml;na nga autoriteti publik dhe t&euml; procedurave p&euml;r t&rsquo;i p&euml;rfituar ato;</li>
		<li>informacione dhe dokumente q&euml; k&euml;rkohen shpesh; &ccedil;do informacion tjet&euml;r q&euml; gjykohet i dobish&euml;m nga autoriteti publik.</li>
	</ul>
	<p>Autoriteti publik, gjithashtu, krijon dhe arkivon nj&euml; kopje digjitale t&euml; faqes zyrtare t&euml; tij n&euml; internet, t&euml; plot&euml;suar me informacionin q&euml; k&euml;rkohet n&euml; programin e miratuar t&euml; transparenc&euml;s, si dhe p&euml;r metodat, mekanizmat dhe periodicitetin e publikimit t&euml; informacioneve publike, t&euml; cilat vihen n&euml; dispozicion t&euml; publikut pa k&euml;rkes&euml;.</p>
	<p>Aktet q&euml; p&euml;rmbajn&euml; rregulla, norma apo kufizime t&euml; t&euml; drejtave dhe lirive themelore t&euml; individit, si dhe me efekt t&euml; drejtp&euml;rdrejt&euml; p&euml;r ta b&euml;hen publike me an&euml; t&euml; afishimit apo postimit n&euml; faqen zyrtare t&euml; internetit, brenda 48 or&euml;ve prej miratimit t&euml; aktit nga autoritetet publike.</p>
</div>
