<% @title = "Kerkesat - Si behen, si procesohen" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
 <h2><strong>Si te besh nje kerkese</strong></h2>
 <h2><strong>Nuk jam I sigurte cilit institucion duhet t&rsquo;I drejtohem me kerkesen, si mund ta gjej?</strong></h2>
 <p>Shpeshhere eshte e veshtire te gjesh ate qe kerkon ne strukturat e komplikuara te qeverise, apo te gjesh personin i cili ka informacionin qe ju doni. Si me poshte jane disa udhezime si mund t&rsquo;ja dilni mbane: </p>
 <p>Kerko ne DuaInfo dhe shih per kerkesa te ngjashme me ate tuajen. </p>
 <p>Kur mendoni se e keni gjetur institucionin perkates, perdornin url per &ldquo; faqen kryesore&rdquo;, klikoni aty per te pare me cfare merret ky insitucion. </p>
 <p>Kontakton nepermjet telefonit ose poste elektronike institucionin perkates per t&rsquo;i pyetur nese disponojne informacionin qe ju kerkoni. </p>
 <p>Mos u streso shume per te gjetur institucionin e duhur. Nese e ke gjetur institucionin e gabuar, nenpunesi perkates duhet t&rsquo;ju sugjeroj se ku duhet te drejtoheni. </p>
 <p>Nese keni nje ceshtje delikate, ju lutem na kontaktoni per ndihme. </p>
 <h2><strong>Ju mungon institucioni publik ku dua te dergoj kerkesen!</strong></h2>
 <p>Ju lutem na kontaktoni me emrin e institucionit public dhe nese I keni gjetur gjithashtu na dergoni dhe kontaktet e postes elektronike dhe telefonit per kerkesat e te Drejtes se Informimit. </p>
 <p>Nese deshironi ten a ndihmoni duke shtuar nje kategori te tere institucionesh publike ne faqen tone, ju lutem mos hezitoni te na kontaktoni. </p>
 <p>Pse keni perfshire dhe institucione qe nuk jane subjekt i se Drjetes per Informacion (DI)?#</p>
 <h2><strong>Pse duhet ta mbaj kerkesen time sa me te fokusuar?</strong></h2>
 <p>Ju lutem ne kerkesen tuaj tregohuni kon&ccedil;iz ne menyre qe autoriteti perkates mund ta identifikoj me lehtesi se cfare informacioni po kerkoni. Ju lutem ne kerkese mos perfshini pikat ne vijim:</p>
 <p>Argumenta lidhur me ceshtjen tuaj. </p>
 <p>Deklarata apo qendrime qe mund te ofendojne apo hedhin balte mbi dike. </p>
 <p>Nese ju beni dicka te tille, ne do na duhet ta fshijme kerkesen tuaj. Mesazhe te shkurtra dhe kon&ccedil;ize lehtesojne kuptueshmerin per institucionin perkates, cka do te thote qe mundesite per te marre nje pergjigje te shpejte jane me te medha. </p>
 <p>Sipas ligjit ne fuqi ( neni 11, pika 4 ) pikat qe duhen mbuluar ne kerksen per informim jane:</p>
 <ol type="a">
 <li>emrin dhe mbiemrin e k&euml;rkuesit; </li>
 <li>adres&euml;n postare ose elektronike ku k&euml;rkohet t&euml; d&euml;rgohet informacioni; </li>
 <li>p&euml;rshkrimin e informacionit q&euml; k&euml;rkohet;</li>
 <li>formatin n&euml; t&euml; cilin preferohet informacioni;</li>
 <li>&ccedil;do t&euml; dh&euml;n&euml; q&euml; k&euml;rkuesi gjykon se mund t&euml; ndihmoj&euml; n&euml; identifikimin e informacionit t&euml; k&euml;rkuar.</li>
 </ol>
 <p>Nese kerkoni informacion per te mbeshtetur nje argument apo fushate, e Drejta per infomim eshte nje mjet i fuqishem. Edhe nese nuk e perdorni kete faqe per te promovuar fushaten tuaj, ne ju inkurajojme qe ta perdorni per te marre informacionin qe kerkoni. </p>
 <h2><strong>A me kushton gje te bej nje kerkese?</strong></h2>
 <p>Berja e nje kerkese per te Drejten e Informimit eshte gjithmone falas. </p>
 <p>Autoritetet mund te perfshijne mesazhe te tilla si : pergjigja &ldquo;mund&rdquo; te kete kosto. Mos i merrni parasysh njoftime te tilla. Ne raste shume te rralla mund te kete kosto. Me shume detaje mund t&rsquo;i gjeni tek Komisioneri per te Drejten e Informimit (per me teper <a href="http://www.idp.al/index.php/sq/autoriteti-sq/rreth-nesh">kliko ketu</a>)</p>
 <h2><strong>Sa shpejt do e marr pergjigjen?</strong></h2>
 <p>Sipas ligjit, autoritetet publike duhe te pergjigjen sa me shpejt kerkesave.</p>
 <p>Edhe nese ata nuk pergjigjen shume shpejt, zakonisht ne te gjitha rastet ata duhet te pergjijgen Brenda 10 dite pune. </p>
 <p>DuaInfo do t&rsquo;ju dergoj mesazh nese nuk merrni pergjigje brenda afateve te percaktuara. Ju mund t&rsquo;I dergoni institucionit perkates nje mesazh per t&rsquo;i rikujtuar dhe per t&rsquo;i thene atyre te respektojne rregullat sipas ligjiit ne fuqi. </p>
 <h2><strong>Por nese nuk marr kurre pergjigje?</strong></h2>
 <p>Mund te beni disa gjera nese nuk merrni pergjigje.</p>
 <p>Ndoshta problem mund te jete teknik dhe institucioni perkates nuk e ka marre mesazhin elektronik te derguar prej jush. Do ishte me vlere nese do t&rsquo;i telefononit institucionit dhe me miresjellje ti kerkonit nese e kane marre kerkesen tuaj me poste elektronike. Nese nuk e kane marre, do te thote qe mesazhi mund te kete kaluar ne filtrate e mesazheve &ldquo;spam&rdquo;. </p>
 <p>Nese ende nuk keni marre pergjigje, mund te kerkoni nje shqyrtim te brendshem, dhe me pas mudn te ankoheni te Komisioneri per te Drejten e Informimit dhe Mbrojtjen e te Dhenave Personale (<a href="http://www.idp.al/index.php/sq/per-individin">kliko ketu</a>) lidhur me kete autoritet. </p>
 <p>Gjithashtu, mund ten a kontaktoni dhe ne per t&rsquo;ju ndihmuar ne kete proces. </p>
 <h2><strong>Por kur nuk jam i kenaqur me pergjigjen e marre?</strong></h2>
 <p>Nese nuk keni marre informacionin qe kerkonit, apo nuk e keni marre ate ne kohe, ju lutem lexoni faqen tjeter &ldquo;I pakenaqur me pergjigjen e marre?&rdquo; </p>
 <h2><strong>Mund te me thoni me teper detaje lidhur me berjne e nje kerkese?</strong></h2>
 <p>Ju lutemi hidhini nje sy faqeve zyrtare ne faqen elektronike te Komisionerit per te Drejten e Informacionit dhe Mbrojtjes se te Dhenave Personale. </p>
 <h2><strong>Mund te kerkoj informacion rreth vetes sime?</strong></h2>
 <p>Jo. Kerkesat e bera duke perdorur DuaInfo jane publike, nen ligjit per te Drejten e Informimit dhe nuk te ndihmon te gjesh informacion per nje person privat. </p>
 <p>Ju lutem nga kontaktoni menjehere ne menyre qe ta fshijme kete kerkese. </p>
 <h2><strong>Deshrioj qe t&rsquo;i mbaj kerkesat e mia sekret! </strong></h2>
 <p>DuaInfo aktualisht eshte ndertuar vetem per kerkesa publike. Te gjitha pergjigjet qe ne marrim automatikisht do te publikohne ne faqen tone per publikun e gjere.</p>
 <p>Ju duhet ta kontaktoni institucionin public direkt nese deshironi te merrni nje pergjigje private. Per kete mund te perdorni posten dorazi. Nese keni nevoje per ndihme mos hezitoni te na kontaktoni. </p>
 <h2><strong>A mund te dergoj te njejten kerkese tek te gjitha autoritetet te tilla si keshillet?</strong></h2>
 <p>Ne do ju keshillonim te dergonit nje variant te kerkeses suaj tek disa autoritete. Pergjigjet e tyre do ju ndihmojne te permiresoni permbajtjen e kerkeses, ne menyre qe te merrni informacionin me te mire per kerkesen e derguar. Per momentin faqa jone nuk ka system automatic per dergjimin e te njejtes kerkese te shume autoritete, per kete arsye do ju duhet ta kopjoni dhe ta ngjisni per cdo institucion apo autoritet public. </p>
 <h2><strong>Si i monitoroni shenimet e bera tek kerkesat?</strong></h2>
 <p>Shenimet tek DuaInfo sherbejne per t&rsquo;i ndihmuar te tjeret qe te marrin informacionin qe deshirojne, ose per t&rsquo;u dhene atyre keshilla te cilat mund t&rsquo;I vene ne perdorim. Ne kemi te drejten te heqim cdo gje tjeter. a</p>
 <p>Diskutime politike te pafundme nuk lejohen. Posto nje lidhje ne nje forum te pershtatshem ose faqe fushate diku tjeter. </p>
 <h2><strong>Mund te dergoj kerkese per cdo lloj informacioni?</strong></h2>
 <p>Ju kujtojme se disa nga informacionet ne autoritetet apo institucionet perkatese, shfaqen ne faqet e tyre. Para se te ndermerrni nje kerkese sigurohuni qe keto informacioni nuk jane te shfaqura ne faqet perkatese te internetit apo ne faqen e Komisionerit per te Drejten e Informimit dhe Mbrojtjen e te Dhenave Personale. </p>
 <p>Per me teper sipas Nenit 7 te ligjit per Te Drejten e Informimit thuhet se:</p>
 <p>N&euml; p&euml;rputhje me programin e transparenc&euml;s s&euml; miratuar p&euml;r &ccedil;do autoritet publik, k&euml;to t&euml; fundit p&euml;rgatitin paraprakisht, n&euml; formate leht&euml;sisht t&euml; kuptueshme dhe t&euml; aksesueshme, si dhe v&euml;n&euml; n&euml; dispozicion t&euml; publikut n&euml; faqen e tyre n&euml; internet kategorit&euml; e m&euml;poshtme t&euml; informacionit:</p>
 <ul>
     <li>nj&euml; p&euml;rshkrim t&euml; struktur&euml;s organizative, funksioneve dhe detyrave t&euml; autoritetit publik;</li>
     <li>tekstet e plota:
         <ul>
             <li>t&euml; konventave q&euml; jan&euml; ratifikuar nga Republika e Shqip&euml;ris&euml;;</li>
             <li>t&euml; ligjeve;</li>
             <li> t&euml; akteve n&euml;nligjore;</li>
             <li> t&euml; kodeve t&euml; sjelljes;</li>
             <li> t&euml; &ccedil;do dokumenti politikash;</li>
             <li> t&euml; manualit ose ndonj&euml; dokument tjet&euml;r q&euml; ka lidhje me ushtrimin e funksioneve t&euml; autoritetit publik dhe q&euml; prek publikun e gjer&euml;;</li>
            </ul>
     </li>
     <li> informacion p&euml;r procedurat q&euml; duhen ndjekur p&euml;r t&euml; b&euml;r&euml; nj&euml; k&euml;rkes&euml; p&euml;r informim, adres&euml;n postare dhe elektronike p&euml;r depozitimin e k&euml;rkesave p&euml;r informim, si dhe procedurat e ankimit t&euml; vendimit p&euml;rkat&euml;s;</li>
     <li> t&euml; dh&euml;na p&euml;r vendndodhjen e zyrave t&euml; autoritetit publik, orarin e pun&euml;s, emrin dhe kontaktet e koordinatorit p&euml;r t&euml; drejt&euml;n e informimit;</li>
     <li> t&euml; dh&euml;na p&euml;r arsimin, kualifikimet dhe pagat e funksionar&euml;ve, t&euml; cil&euml;t kan&euml; detyrimin p&euml;r deklarimin e pasuris&euml;, sipas ligjit, strukturat e pagave p&euml;r n&euml;pun&euml;sit e tjer&euml;, si dhe nj&euml; p&euml;rshkrim t&euml; procedurave t&euml; zgjedhjes, kompetencave dhe detyrave t&euml; funksionar&euml;ve t&euml; lart&euml; t&euml; autoritetit publik dhe procedur&euml;n q&euml; ata ndjekin p&euml;r t&euml; marr&euml; vendime;</li>
     <li>mekanizmat monitorues dhe t&euml; kontrollit q&euml; veprojn&euml; mbi autoritetin publik, p&euml;rfshir&euml; planet strategjike t&euml; pun&euml;s, raportet e auditimit nga Kontrolli i Lart&euml; i Shtetit ose subjekte t&euml; tjera, si dhe dokumentet q&euml; p&euml;rmbajn&euml; tregues t&euml; performanc&euml;s s&euml; autoritetit;</li>
     <li> t&euml; dh&euml;na p&euml;r buxhetin dhe planin e shpenzimeve p&euml;r vitin financiar n&euml; vijim dhe vitet e kaluara, si dhe &ccedil;do raport vjetor p&euml;r zbatimin e buxhetit. N&euml; ato raste kur autoriteti publik 3<br>
         vet&euml;financohet nga tarifat e licencave ose &ccedil;do form&euml; tjet&euml;r e financimit t&euml; drejtp&euml;rdrejt&euml; nga subjektet e rregulluara prej tij, b&euml;hen publike edhe dokumentet q&euml; tregojn&euml; gjendjen e shlyerjes s&euml; detyrimeve nga subjektet e licencuara;</li>
     <li>informacion p&euml;r procedurat e prokurimit apo procedurat konkurruese t&euml; koncesionit/partneritetit publik privat, p&euml;rkat&euml;sisht, sipas parashikimeve t&euml; ligjit nr. 9643, dat&euml; 20.12.2006, &ldquo;P&euml;r prokurimin publik&rdquo;, dhe t&euml; ligjit nr. 125/2013, &ldquo;P&euml;r koncesionet dhe partneritetin publik privat&rdquo;, q&euml; kryhen p&euml;r llogari t&euml; autoritetit publik, duke p&euml;rfshir&euml;:
         <ul>
             <li>list&euml;n e kontratave t&euml; lidhura;</li>
             <li>shum&euml;n e kontraktuar;</li>
             <li> pal&euml;t kontraktuese dhe p&euml;rshkrimin e sh&euml;rbimeve apo mallrave t&euml; kontraktuara;</li>
             <li> informacionin p&euml;r zbatimin dhe monitorimin e kontratave, si dhe udh&euml;zues e politika t&euml; ndryshme;</li>
            </ul>
     </li>
     <li> informacion p&euml;r sh&euml;rbimet q&euml; autoriteti publik i jep publikut, p&euml;rfshir&euml; standardet p&euml;r cil&euml;sin&euml; e sh&euml;rbimit;</li>
     <li> &ccedil;do mekaniz&euml;m dhe procedur&euml; p&euml;r b&euml;rjen e k&euml;rkesave dhe ankesave, n&euml; lidhje me veprimet ose mosveprimet e autoritetit publik;</li>
     <li> &ccedil;do mekaniz&euml;m apo procedur&euml;, p&euml;rmes s&euml; cil&euml;s personat e interesuar mund t&euml; paraqesin mendimet e tyre apo t&euml; ndikojn&euml; n&euml; &ccedil;far&euml;do m&euml;nyre tjet&euml;r n&euml; hartimin e ligjeve, t&euml; politikave publike apo ushtrimin e funksioneve t&euml; autoritetit publik;</li>
     <li>nj&euml; p&euml;rshkrim t&euml; thjesht&euml; t&euml; sistemit q&euml; p&euml;rdor autoriteti publik p&euml;r mbajtjen e dokumentacionit, t&euml; llojeve, formave t&euml; dokumenteve, si dhe t&euml; kategorive t&euml; informacionit q&euml; b&euml;het publik pa k&euml;rkes&euml;;</li>
     <li>regjistri i k&euml;rkesave dhe p&euml;rgjigjeve, sipas nenit 8 t&euml; k&euml;tij ligji;</li>
     <li> nj&euml; p&euml;rshkrim t&euml; kategorive dhe formave t&euml; ndihm&euml;s shoq&euml;rore, subvencioneve t&euml; dh&euml;na nga autoriteti publik dhe t&euml; procedurave p&euml;r t&rsquo;i p&euml;rfituar ato;</li>
     <li> informacione dhe dokumente q&euml; k&euml;rkohen shpesh;
         <ul>
             <li>&ccedil;do informacion tjet&euml;r q&euml; gjykohet i dobish&euml;m nga autoriteti publik.</li>
             <li>Autoriteti publik, gjithashtu, krijon dhe arkivon nj&euml; kopje digjitale t&euml; faqes zyrtare t&euml; tij n&euml; internet, t&euml; plot&euml;suar me informacionin q&euml; k&euml;rkohet n&euml; programin e miratuar t&euml; transparenc&euml;s, si dhe p&euml;r metodat, mekanizmat dhe periodicitetin e publikimit t&euml; informacioneve publike, t&euml; cilat vihen n&euml; dispozicion t&euml; publikut pa k&euml;rkes&euml;.</li>
             <li> Aktet q&euml; p&euml;rmbajn&euml; rregulla, norma apo kufizime t&euml; t&euml; drejtave dhe lirive themelore t&euml; individit, si dhe me efekt t&euml; drejtp&euml;rdrejt&euml; p&euml;r ta b&euml;hen publike me an&euml; t&euml; afishimit apo postimit n&euml; faqen zyrtare t&euml; internetit, brenda 48 or&euml;ve prej miratimit t&euml; aktit nga autoritetet publike.</li>
         </ul>
     </li>
    </ul>
</div>